

@model IEnumerable<ListaDeRamais.E2.Models.Ramais>

@{
    ViewData["Title"] = "Departamento";
}


    <div class="container Cards">
        <div class="card-body mb-lg-5 p-lg-5 " id="card-body">
            <a asp-action="DepartamentoPDF" class="btn_botoes">
                <i class='bx bxs-file-pdf' style='color:#153f6c'></i>
                Gerar PDF
            </a>

            <div class="container d-inline-flex w-50 p-3">
                <div class="container m-auto " id="card-box-pesquisar">

                    <form asp-controller="Departamento" asp-action="Index" method="post">
                        <input class="form-control" name="depbuscar" />
                        <button type="submit" class="btn_botoes">Pesquisar</button>

                    </form>
                </div>
            </div>


            <div class="card">
                <div class="container mt-3">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h6>Departamento</h6>

                                </th>
                                <th>
                                    <h6>Ramais</h6>

                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoDepFkNavigation.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroRamal)
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

