@model IEnumerable<ListaDeRamais.E2.Models.FunRamais>

@{
    ViewData["Title"] = "FunRamais";
}




<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5" id="card-body">
        <p>
            <a asp-action="CriarVinculoRamais">
                <i class='bx bx-loader-circle bx-rotate-180' style='color:#153f6c'></i>
                Atribuir Ramal
            </a>
        </p>
        <div class="container d-inline-flex w-50 p-3">
            <div class="container small" id="card-box-pesquisar">
                <form asp-controller="FunRamais" asp-action="Index" method="post">
                    <input class="form-control " name="txtProcurar" />
                    <button type="submit" class="btn_botoes">Pesquisar</button>
                </form>
               
            </div>
        </div>

        <div class="card">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h6>Nome</h6>
                        </th>
                        
                        <th>
                            <h6>Numero do Ramal</h6>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info">
                        @foreach (var item in Model)
                        {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoFunFkNavigation.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoRamalFkNavigation.NumeroRamal)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        
    </div>
    </div>
