@model IEnumerable<ListaDeRamais.E2.Models.FunRamais>

@{
    ViewData["Title"] = "FunRamais";
}



<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5" id="card-body">

        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center">Lista de Ramais</h4>
                    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid">

                            <p class="icons-lista">
                                <a asp-action="CriarVinculoRamais" class="btn_botoes">
                                    <i class='bx bx-loader-circle bx-rotate-180' style='color:#153f6c'></i>
                                    Atribuir Ramal
                                </a>
                                <a asp-action="VisualizarPDF" class="btn_botoes ">
                                    <i class='bx bxs-file-pdf' style='color:#153f6c'></i>
                                    Gerar PDF
                                </a>
                            </p>
                            <div class="container d-table-cell p-3">
                                <div class="container small">
                                    <form asp-controller="FunRamais" asp-action="Index" method="post">
                                        <input class="form-control " name="txtProcurar" />
                                        <button type="submit" class="btn_botoes">Pesquisar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>




        <div class="card col-8">
            <div class="card-body text-center ">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="col-6">
                                <h6>Nome</h6>
                            </th>

                            <th class="col-6">
                                <h6>Numero do Ramal</h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoFunFkNavigation.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoRamalFkNavigation.NumeroRamal)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
