@model ListaDeRamais.E2.Models.Funcionario

@{
    ViewData["Title"] = "AtualizarFuncionario";
}

<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5" id="card-body">


        <div class="container position-sticky z-index-sticky top-0">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
                        <div class="container-fluid">

                            <h4 class="text-center">Atualizar Funcioário</h4>

                        </div>
                    </nav>
                </div>
            </div>
        </div>





        <div class="card col-6 fixed-section">
            <div class="card-body text-center ">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AtualizarFuncionario">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CodigoFunId" />
                            <div class="form-group">
                                <label class="control-label">Nome</label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Sobrenome</label>
                                <input asp-for="Sobrenome" class="form-control" />
                                <span asp-validation-for="Sobrenome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Cargo</label>
                                <input asp-for="Cargo" class="form-control" />
                                <span asp-validation-for="Cargo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefones)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @for (int i = 0; i < Model.Telefones.Count; i++)
                                    {
                                        <tr>
                                            <td>

                                                @Html.EditorFor(x => x.Telefones[i].NumeroTelefone, new { HtmlAttributeValue = new { @class = "form-control" } })
                                                <span asp-validation-for="Telefones[i].NumeroTelefone" class="text-danger"></span>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="form-group">
                                <input type="submit" value="Salvar" class="btn_botoes" />|
                                <a class="btn_botoes" asp-action="Index">Voltar para lista</a>
                            </div>
                        </form>
                    </div>
                </div>



                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>
        </div>
    </div>
</div>
