@model ListaDeRamais.E2.Models.Funcionario

@{
    ViewData["Title"] = "AtualizarFuncionario";
}


<div class="container Cards">
    <div class="card-body mb-lg-5 p-lg-5 Cards" id="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AtualizarFuncionario">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CodigoFunId" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sobrenome" class="control-label"></label>
                        <input asp-for="Sobrenome" class="form-control" />
                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cargo" class="control-label"></label>
                        <input asp-for="Cargo" class="form-control" />
                        <span asp-validation-for="Cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefones)
                                </th>
                            </tr>
                        </thead>
                        <tbody>


                            @for (int i = 0; i < Model.Telefones.Count; i++)
                            {
                                <tr>
                                    <td>

                                        @Html.EditorFor(x => x.Telefones[i].NumeroTelefone, new { HtmlAttributeValue = new { @class = "form-control" } })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

</div>
</div>